<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="/LandingPage">LandingPage</a></li>
        <li><a href="/Mall">Mall</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

@code {

}
