<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="/StudentPage">StudentPage</a></li>
        <li><a href="/TeachersPage">TeachersPage</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

@code {

}
