@inherits LayoutComponentBase

<div class="body2">
    <div class="nav">
        <NavMenu />
    </div>
    <div class="main-container">
        <div class="header">
            <BunnySurfers.Blazor.Components.Layout.StudentPage.Components.Header />
        </div>
        <div class="body-content">
            <div class="body-content">
                @Body
            </div>
        </div>
        <div class="footer">
            <BunnySurfers.Blazor.Components.Layout.StudentPage.Components.Footer />
        </div>
    </div>
</div>

@code {

}
