<div style="display: flex; align-items: center;">
    <h1 style="margin-left: 50%;margin-right: 20%;">Student</h1>

    <div style="display: flex; align-items: center;">
        <p style="margin-right: 10px;">Status: Online</p>
        <p style="margin-right: 10px;">Username: User</p>
        <div style="width: 30px; height: 30px; border-radius: 50%; background-color: #ccc;"></div>
    </div>
</div>
@code {

}
