@page "/"

<PageTitle>BunnySurfers LMS</PageTitle>

<h1>Bunny Surfers</h1>
<h2>Learning Management System (LMS)</h2>

<NavLink href="/Account/Login"><button type="button">Click here to log in</button></NavLink>

<div class="container">
    <h3>Development area</h3>
    <NavLink href="/StudentPage"><button type="button">Log in as student</button></NavLink>
    <NavLink href="/TeachersPage"><button type="button">Log in as teacher</button></NavLink>
</div>
