@page "/module"
@inject ICourseService CourseService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@rendermode @(new InteractiveServerRenderMode(prerender:false))


<h3>ModuleView</h3>

@if ()

@code {

}
