@page "/student/{StudentId:int}/course"

<h3>Course info</h3>

@if (getCourseError)
{
    <p>Unable to retrieve course info. Please try again later.</p>
}
else if (Course is null)
{
    <p>You are not currently enrolled in a course.</p>
}
else
{
    <h4>@Course.Name</h4>
    <h5>@Course.StartDate.ToShortDateString() - @Course.EndDate.ToShortDateString()</h5>

    <p>@Course.Description</p>
}
