@page "/TeachersPage"
@inherits LayoutComponentBase

<div class="body2">
    <div class="nav">
        <BunnySurfers.Blazor.Components.Layout.NavMenu />
    </div>
    <div class="main-container">
        <div class="header">
            <BunnySurfers.Blazor.Components.Layout.TeachersPage.Components.Header/>
        </div>
        <div class="body-content">
            <BunnySurfers.Blazor.Components.Layout.TeachersPage.Components.BodyContent />
        </div>
        <div class="footer">
            <BunnySurfers.Blazor.Components.Layout.TeachersPage.Components.Footer />
        </div>
    </div>
</div>

@code {

}
