<div class="body-content">

    <div><Courses/></div>
    <NavLink href="/createcourse"><button type="button">Create new course</button></NavLink>

    <div><Modules/></div>
    <NavLink href="/createmodule"><button type="button">Create new module</button></NavLink>

    <div></div>
</div>
