<div style="display: flex; align-items: center;">
    <div style="width: 75%">
        <h1>Teacher</h1>
    </div>

    <div style="display: flex; align-items: center; width: 25%">
        <p style="margin-right: 10px;">Status: Online</p>
        <p style="margin-right: 10px;">Username: Teacher</p>
        @* <div style="width: 30px; height: 30px; border-radius: 50%; background-color: #ccc;"></div> *@
    </div>
</div>
